includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - routes
        - database

    level: 5

    excludePaths:
        - ./*/*/FileToBeExcluded.php
